.card {
    margin: 20px 40px;
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.27);
    border: none;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    min-height: 325px;
    height: 70%;
}

.card-image .card .card-body {
    display: none;
}

.card-image-title-description .card .card-img-wrapper {
    max-height: 160px;
}

.card-image-title-description .card {
    position: relative;
}

.card-image-title-description .card .card-body {
    height: auto;
    position: relative;
    top: 0;
}

.card-image-title-description .card:hover .card-body {
    top: -70px;
}

.card-image-title-description .card .card-body .card-title {
    margin-bottom: 1rem;
}

.card-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-img-wrapper img {
    transition: 1.5s ease;
}

.card-body .card-title {
    margin-bottom: calc(50% + 30px);
    transition: 1.5s ease;
}

.card:hover .card-body .card-title {
    margin-bottom: .1em;  
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color:#ffffff;
    transition: 1.5s ease;
}

.card-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
}

.card:hover .card-body {
    min-height: 325px;
}

.card:hover .card-content {
    bottom: 0;  
}

.card-title {
    display: flex;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .5px;
    justify-content: center;
    margin: 10px 0;
}

.project-tech {
    font-size:  .7em;
    font-weight: 300;
    color: #5f5f5f;
    letter-spacing: 1px;
    margin: 10px 0;

}

.project-description {
    font-size: .9em;
    font-weight: 300;
}

.links {
    display: flex;
    flex-direction: row;
    float: right;
}

.links li {
    text-decoration: none;
    color: #353334;
    list-style-type: none;
    margin-right: 10px;
    cursor: pointer;
}


/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .card-body {
        height: 100px;
    }

    .project-description {
        font-size: 1em;
    }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 2100px) {
    
    .links {
        margin-top: 20px;
    }

    .card {
        margin: 20px;
    }

    .card-body {
        height: 100px;
    }

    .project-description {
        font-size: 1.2em;
    }

    .card-title {
        font-size: 1.8em;
    }
    
    .project-tech {
        font-size:  .9em;
    }

}






