/* colors
light: #fde5e5
ligth med: #fdcac9
med: #faadae
dark: #f99e9d
*/

.hero {
    box-sizing: border-box;
    height: 100vh;
    background-image: url('../assets/background_home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

.hero-img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.header-title {
    color: #353334;
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    padding: 0 15px;
    font-weight: 600;
}

.header-subtitle {
    color: #353334;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    margin: 5px;
    font-weight: 500;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .hero-img {
        width: 220px;
        height: 220px;
    }
    
    .header-title {
        font-size: 2.8em;
    }

    .header-subtitle {
        font-size: 1.6em;
    }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 2100px) {
    .hero {
        padding-top: 250px;
    }
    
    .hero-img {
        width: 250px;
        height: 250px;

    }


    .header-title {
        font-size: 2.8em;
    }
    
    .header-subtitle {
        font-size: 1.8em;
    }
}