.projects {
    width: 100vw;
    background-color: #fdcac9;
    padding: 0 100px;
}

.title {
    width: 100%;
    display: flex;
    font-size: 2em;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 50px;
}
