.projects {
    background-color: #fdcac9;
}

.title {
    width: 100%;
    display: flex;
    font-size: 2.5em;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.row {
   margin: 0 0px;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

    .row {
        display: flex;
        justify-content: center;
    }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 2100px) {
    .projects {
        padding: 0 200px;
    }
    .title {
        font-size: 3.6em;
    }
}
