.footer {
    background-color: #f99e9d;
    height: 35vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links-footer {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1em;
}


.links-footer li {
    align-items: center;
    justify-content: space-around;
    padding: 150px 10px 0 10px;
    text-transform: uppercase;
}

.links-footer li a {
    text-decoration: none;
    color: #faf8f0;

}

.made-by {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.made-by h5 {
    font-size: 1em;
    color: #faf8f0;
    z-index: 1;
    
}

.made-by img {
    width: 30px;
    margin: 10px;
    z-index: 1;
    
}

.custom-shape-divider-top-1600872471 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1600872471 svg {
    position: relative;
    display: block;
    width: calc(100%);
    height: 150px;
}

.custom-shape-divider-top-1600872471 .shape-fill {
    fill: #fdcac9;
}


/** Mobile **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1600872471 svg {
        width: calc(276%);
        height: 75px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .links-footer {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 1em;
    }
    
    .links-footer li {
        align-items: center;
        justify-content: space-around;
        padding: 150px 10px 0 10px;
        color: #faf8f0;
    
    }
    
    .made-by {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    
    .made-by h5 {
        font-size: 1em;
        color: #faf8f0;
        z-index: 1;
    }
    
    .made-by img {
        width: 30px;
        margin: 10px;
        z-index: 1;
    }
}

/* Desktop */
@media (min-width: 1025px) and (max-width: 2100px) {
    .links-footer {
        font-size: 1.2em;
    }
    
    .made-by h5 {
        font-size: 1em;
    }

}